/* WAD2.0 Styles
-------------------------------------------------- */
h2 {
color: #b50000;
}

.three_columns {
    -webkit-column-count: 3; /* Chrome, Safari, Opera */
    -moz-column-count: 3; /* Firefox */
    column-count: 3;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.two_columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
}

.black_boxed {
    padding:3px;
    border:1px;
    /* border-style:solid; */
    border-color:#482828;
    background-color: #f9f9f9;
}

/* Bootstrap 3.0.0 styles
-------------------------------------------------- */

html {
  font-size: 90%;
}

a {
  color: #004baf;
}

.wad-nav-dashboard-bg-dark {
  background-color: #375a7f;
}

.wad-brand-link {
  color: #fff;
}

.wad-nav-admin-bg-dark {
  background-color: #000;
}

.panel-danger {
  border-color: #E74C3C;
}

.panel-danger > .card-header {
  color: #fff;
  background-color: #E74C3C;
}

.panel-success {
  border-color: #18BC9C;
}

.panel-success > .card-header {
  color: #fff;
  background-color: #18BC9C;
}

.panel-info {
  border-color: #3498DB;
}

.panel-info > .card-header {
  color: #fff;
  background-color: #3498DB;
}

.panel-warning{
  border-color: #F39C12;
}

.panel-warning > .card-header {
  color: #212529;
  background-color: #F39C12;
}

.panel-primary{
  border-color: #2C3E50;
}

.panel-primary > .card-header {
  color: #fff;
  background-color: #2C3E50;
}

.panel-menu{
  border-color: #444;
}

.panel-menu > .card-header {
  color: #fff;
  font-size: 125%;
  background-color: #444;
}

.accordion .card-header:after {
  content: url("carret_down_12.png");
  float: left; 
}
.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
  content: url("carret_right_12.png");
}

.wad-gutter.card-columns {
  column-gap: 1.25rem;
}

.wad-gutter > .card {
  margin: 0.4rem;
}